.row
  .col
    %h1 Search Commits
.row
  .col-12.col-md-6
    .btn-group
      %button.btn.btn-outline-primary.btn-lg.dropdown-toggle{type: 'button', "data-toggle".to_sym => 'dropdown', 'aria-haspopup'.to_sym => true, 'aria-expanded'.to_sym => false}
        =fa_icon 'code-fork'
        %samp= @branch
      .dropdown-menu
        - @unmerged_branches.each do |branch|
          -if branch == @branch
            =link_to branch, commits_path(branch: branch.name), class: "dropdown-item text-monospace active text-reset"
          -else
            =link_to branch, commits_path(branch: branch.name), class: "dropdown-item text-monospace text-reset"
  .col-12.col-md-6
    %p.text-right.mb-1
      %span.badge.badge-light Test Cases
      %span.badge.badge-success Passing
      %span.badge.badge-warning Mixed
      %span.badge.badge-danger Failing
      %span.badge.badge-info Untested
    %p.text-right
      %span.badge.badge-primary Mult. Checksums
      %span.badge.badge-secondary Computers
      %span.badge.badge-dark Completed Computers
.row
  .col-12.col-md-6
    %p
      %b
        %i
          Viewing
          commits
          =@start_num
          through
          =@stop_num
          in
          %span.text-monospace=@branch.name
  .col-12.col-md-6
    %ul.pagination.pagination.justify-content-end
      =render partial: 'index_pagination_li'

.row.mb-3
  .col
    %ul.list-group
      - @commits.each do |commit|
        - cache commit do
          %li.list-group-item.list-group-item-action{class: @row_classes[commit]}
            .d-flex.w-100.justify-content-between.mb-2
              %h5.font-weight-bold
                %a.text-reset{href: commit_path(branch: @branch.name, sha: commit.short_sha)}
                  -if commit.run_optional?
                    =fa_icon('plus-square', title: "Optional inlists run on all tests")
                  -if commit.fpe_checks?
                    =fa_icon('wrench', title: 'FPE checks run on all tests')
                  = commit.message_first_line
                -if commit.message_rest
                  %a.badge.badge-secondary{'data-toggle'.to_sym => 'collapse', href: "\#msg_#{commit.short_sha}", role: 'button', 'aria-expanded'.to_sym => 'false', 'aria-controls'.to_sym => "\#msg_#{commit.short_sha}"} &nbsp;&#8230;&nbsp;
              .btn-group.my-0
                %a.mr-1.my-0{href: commit_path(@branch.name, commit.short_sha)}
                  %button.btn.text-monospace{class: @btn_classes[commit]}= commit.short_sha
                %a.my-0{href: commit.github_url, target: '_blank'}
                  %button.my-0.btn.text-monospace{class: @btn_classes[commit]}
                    %i.fa.fa-code
            .d-flex.w-100.justify-content-between
              %p.mb-0
                %span.font-weight-bold= commit.author
                %span
                  pushed on 
                  =format_time(commit.created_at)
              .mb-0
                %p.text-right.mb-1
                  %span.badge.badge-light= commit.test_case_count
                  %span.badge.badge-success= commit.passed_count
                  %span.badge.badge-warning= commit.mixed_count
                  %span.badge.badge-danger= commit.failed_count
                  %span.badge.badge-info= commit.untested_count
                %p.text-right.mb-0
                  %span.badge.badge-primary= commit.checksum_count
                  %span.badge.badge-secondary= commit.computer_count
                  %span.badge.badge-dark= commit.complete_computer_count
            .d-flex.w-100
              %p.mb-0.mt-2{class: 'collapse', id: "msg_#{commit.short_sha}"}= commit.message_rest

=render partial: 'index_pagination'
-# .row.mb-3.mt-0
-#   .col.text-center.mt-0
-#     %nav{'aria-label' => 'commit page navigation'}
-#       %ul.pagination.pagination-lg.justify-content-center
-#         - @page_button_data.each do |button_data|
-#           %li{class: "page-item" + button_data[:klass]}
-#             - if button_data[:disabled] || button_data[:label].to_i == @page
-#               %span.page-link= button_data[:label]
-#             - else
-#               %a.page-link{href: button_data[:href]}= button_data[:label]
