<% @versions_tested.each do |version| %>
  <% data = @version_data[version] %>
  <% if data[:status] == :passing %>
    <h3 <%=@make_green%>>
  <% elsif data[:status] == :mixed %>
    <h3 <%=@make_yellow%>>
  <% elsif data[:status] == :checksums %>
    <h3 <%=@make_blue%>>
  <% elsif data[:status] == :failing %>
    <h3 <%=@make_red%>>
  <% else %>
    <h3>
  <%end%>
    <a clicktracking=off href=<%= data[:link] %>>
        <%= version %>
    </a> (<%= "#{data[:computer_counts][:total]} " + "computer".pluralize(data[:computer_counts][:total])%> tested to date)
  </h3>
  <ul>
    <li> <b> Author: </b> <%= version.author %> </li>
    <li> <b> Commit Message: </b> <%= version.log %> </li>
    <li> <%= data[:case_count] %> cases submitted </li>
    <% data[:mixed_cases].each do |tcv| %>
      <li>
        <samp> 
          <a <%=@make_yellow%> clicktracking=off href=<%= data[:case_links][tcv] %>>
            <%= tcv.test_case.name %>
          </a> 
        </samp> (<b>Failures: </b> <%= data[:fail_counts][tcv] %>; <b> Successes: </b> <%= data[:pass_counts][tcv]%>)
      </li>
    <%end%>
    <% data[:checksum_cases].each do |tcv| %>
      <li>
        <samp> 
          <a <%=@make_blue%> clicktracking=off href=<%= data[:case_links][tcv] %>>
            <%= tcv.test_case.name %>
          </a> 
        </samp> (<%= data[:computer_counts][tcv] + ' ' + 'computer'.pluralize(data[:computer_counts][tcv])%> computers; multiple distinct checksums)
      </li>
    <%end%>
    <% data[:failing_cases].each do |tcv| %>
      <li>
        <samp> 
          <a <%=@make_red%> clicktracking=off href=<%= data[:case_links][tcv] %>>
            <%= tcv.test_case.name %>
          </a> 
        </samp> (<%= data[:computer_counts][tcv] + ' ' + 'computer'.pluralize(data[:computer_counts][tcv])%>)
      </li>
    <%end%>
  </ul>
<%end%>

<% if @versions_tested.empty? %>
  <p>
    No tests were run in the last 24 hours. This e-mail serves to let you know
    that everything is running fine. Visit 
    <a clicktracking=off href=<%=@root_url%>> MESA Test Hub </a>
    for more details.
  </p>
<% end %>

