<% unless @passing_versions.empty? %>
  <h2 style='color: rgb(0,153,51)'>Passing Revisions in Last 24 Hours</h2>
  <% @passing_versions.each do |version| %>
    <h3>
      <a clicktracking=off style="color: rgb(0,153,51)" href=<%= @passing_version_links[version] %>>
        <%= version %>
      </a>
    </h3>
  <% end %>
  <hr>
<% end %>

<% if @failing_versions.empty? && @passing_versions.empty? %>
  <p>
    No tests were run in the last 24 hours. This e-mail serves to let you know
    that everything is running fine. Visit 
    <a clicktracking=off href=<%=@root_url%>> MESA Test Hub </a>
    for more details.
  </p>
<% elsif !@failing_versions.empty? %>
  <h2 style="color:rgb(204, 0, 0)">Failing Revisions in Last 24 Hours</h2>
  <% @failing_versions.each do |version| %>
    <h3>
      <a style="color:rgb(204, 0, 0)" clicktracking=off href=<%= @version_links[version] %>>
        <%= version %>
      </a>
    </h3>
    <ul>
      <li> <b> Author: </b> <%= version.author %> </li>
      <li> <b> Commit Message: </b> <%= version.log %> </li>
      <% @cases[version].each do |test_case| %>
        <li>
          <samp> 
            <a style="color:rgb(204, 0, 0)" clicktracking=off href=<%= @case_links[version][test_case] %>>
              <%= test_case.name %>
            </a>
          </samp>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>
    Visit 
    <a clicktracking=off href=<%=@root_url%>> MESA Test Hub </a>
    for more details.
  </p>
<% end %>
