.row
  .col{style: "white-space: nowrap"}
    .table-responsive
      %table.table.table-sm
        %thead.thead-default
          %tr
            %th.text-center Version
            %th.text-center Test Case
            %th.text-center Status
            %th.text-center Computer
            %th.text-center Created
            %th.text-center rn/re/total Runtime
            %th.text-center rn/re RAM
            %th.text-center Compiler
            %th.text-center Platform
            %th.text-center Threads
            %th.text-center User
            %th.text-center
            - if current_user
              %th.text-center
              %th.text-center

        %tbody
          - @test_instances.each do |test_instance|
            %tr.text-center
              %td.align-middle= link_to test_instance.version.number, version_path(test_instance.version.number)
              %td.align-middle= link_to test_instance.test_case.name, test_case_version_path(test_instance.version.number, test_instance.test_case.name)
              %td.align-middle
                -if test_instance.passed
                  %span.text-success= test_instance.passage_status
                -else
                  %span.text-danger= test_instance.passage_status
              %td.align-middle= link_to test_instance.computer.name, [test_instance.computer.user, test_instance.computer]
              %td.align-middle= format_time(test_instance.created_at)
              %td.align-middle
                = test_instance.runtime_seconds || 0
                \/
                = test_instance.re_time || 0
                \/
                = test_instance.total_runtime_seconds || 0
                s
              -# %td.align-middle=test_instance.steps
              -# %td.align-middle=test_instance.retries
              -# %td.align_middle=test_instance.backups
              %td.align-middle
                
                =sprintf('%.2f', test_instance.rn_mem_GB || 0)
                \/
                =sprintf('%.2f', test_instance.re_mem_GB || 0)
              %td.align-middle= ((test_instance.compiler || '') + ' ' + (test_instance.compiler_version || '')).strip
              %td.align-middle= ((test_instance.computer.platform || '' ) + ' ' + (test_instance.platform_version || '')).strip
              %td.align-middle= test_instance.omp_num_threads
              %td.align-middle= link_to test_instance.computer.user.name, user_path(test_instance.computer.user)
              %td.align-middle= link_to 'Show', [ test_instance.test_case, test_instance], class: 'btn btn-sm btn-secondary text-light'
              -if current_user
                %td.align-middle= link_to 'Edit', edit_test_case_test_instance_path(test_instance.test_case, test_instance), class: 'btn btn-sm btn-primary text-light'
                %td.align-middle= link_to 'Destroy', [test_instance.test_case, test_instance], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-light'
  -# .row
  -#   .col
  -#     = paginate @test_instances
