.row
  .col
    %h2
      Instances of
      %samp=@test_case.name
    %p
      %i= page_entries_info @test_instances

.row
  .col
    %table.table.table-sm.table-responsive
      %thead.thead-default
        %tr
          %th Version
          %th Created
          %th Runtime
          -# %th Steps
          -# %th Retries
          -# %th Backups
          %th Threads
          %th Compiler
          %th Platform
          %th Status
          %th Computer
          %th
          - if admin?
            %th
            %th

      %tbody
        - @test_instances.each do |test_instance|
          %tr
            %td.align-middle= link_to test_instance.version.number, version_path(test_instance.version.number)
            %td.align-middle= format_time(test_instance.created_at)
            %td.align-middle
              = test_instance.runtime_seconds
              s
            -# %td.align-middle=test_instance.steps
            -# %td.align-middle=test_instance.retries
            -# %td.align_middle=test_instance.backups
            %td.align-middle= test_instance.omp_num_threads
            %td.align-middle= ((test_instance.compiler || '') + ' ' + (test_instance.compiler_version || '')).strip
            %td.align-middle= ((test_instance.computer.platform || '' ) + ' ' + (test_instance.platform_version || '')).strip
            %td.align-middle
              -if test_instance.passed
                %span.text-success= test_instance.passage_status
              -else
                %span.text-danger= test_instance.passage_status
            %td.align-middle= link_to test_instance.computer.name, [test_instance.computer.user, test_instance.computer]
            %td.align-middle= link_to 'Show', [ @test_case, test_instance], class: 'btn btn-sm btn-secondary text-light'
            -if admin?
              %td.align-middle= link_to 'Edit', edit_test_case_test_instance_path(@test_case, test_instance), class: 'btn btn-sm btn-primary text-light'
              %td.align-middle= link_to 'Destroy', [@test_case, test_instance], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-light'
.row
  .col
    = paginate @test_instances

.row
  .col.text-center
    .btn-group
      = link_to 'Test Overview', test_case_path(@test_case), class: 'btn btn-secondary text-light'
      -if admin?
        = link_to 'New Test Instance', new_test_case_test_instance_path, class: 'btn btn-primary text-light'
