.row
  .col
    %p#notice= notice

.row
  .col
    %h3="#{@computer.name} details"
    %table.table
      %tr
        %th{scope: 'row'} User
        %td= link_to @user.name, user_path(@user)
      %tr
        %th{scope: 'row'} Platform
        %td=@computer.platform
      %tr
        %th{scope: 'row'} Processor
        %td=@computer.processor
      %tr
        %th{scope: 'row'} RAM
        %td=@computer.ram_gb.to_s + ' GB'
  .col
    %h3 Usage Over Time
    %table.table
      %tr
        %th{scope: 'row'} Last 24 hours
        %td
          = format('%.3g', @cpu_times[:day])
          CPU Hours
      %tr
        %th{scope: 'row'} Last year
        %td
          = format('%.3g', @cpu_times[:year])
          CPU Hours
      %tr
        %th{scope: 'row'} Since Inception
        %td
          = format('%.3g', @cpu_times[:all])
          CPU Hours
.row
  .col
    -if self_or_admin?
      .text-center
        %a.btn.btn-lg.btn-outline-primary{href: edit_user_computer_path(@user, @computer)}
          %span.text-reset Edit
        = link_to "<span class='text-reset'>Delete</span>".html_safe, [@user, @computer], method: :delete, data: { confirm: 'Are you sure? This will delete all associated submissions and test instances.' }, class: 'btn btn-outline-danger btn-lg'
.row
  .col
    - if @submissions.empty?
      .alert.alert-warning.align-middle
        %h4 No submissions for this computer
    - else
      %h3= "Submissions from #{@computer.name}"
      %p
        %i= page_entries_info @submissions
      .table-responsive
        %table.table.table-hover.table-sm#computer-detail
          %thead.thead-default
            %tr
              %th Date Uploaded
              %th Commit
              %th.text-center Tests Submitted
              %th.text-center Compiled
              %th.text-center Compiler
              %th.text-center SDK Version
              %th.text-center Math Backend
            %tbody
              - @submissions.each do |submission|
                %tr.clickable-row{'data-href' => computer_submission_path(computer: @computer.name, id: submission.id)}
                  %td=format_time(submission.created_at)
                  %td.text-monospace= submission.commit
                  %td.text-center
                    -case @counts[submission]
                    -when 0
                      ='–'
                    -when 1
                      %span.text-monospace=submission.test_instances.first.test_case.name
                    -else
                      =@counts[submission]
                  -if submission.compiled.nil?
                    %td.font-italic.text-center Not Reported
                  -elsif submission.compiled
                    %td.text-success.text-center Succeeded
                  -else
                    %td.text-danger.text-center Failed
                  %td.text-center= [submission.compiler, submission.compiler_version].join(' ')
                  %td.text-center= submission.sdk_version
                  %td.text-center= submission.math_backend
      -# .text-center
        # = link_to "All submissions from #{@computer.name}", user_computer_test_instances_path(@user, @computer), class: 'btn btn-md btn-secondary text-light'
.row
  .col
    = paginate @submissions        