%p#notice= notice
.row.mb-3
  .col-sm-1.d-none.d-md-block
    -if @previous_tcc
      %a.btn.btn-outline-primary.btn-lg.btn-block{href: test_case_commit_path(sha: @previous_tcc.commit.short_sha, branch: params[:branch], test_case: params[:test_case], module: params[:module])}
        %i.fa.fa-step-backward.text-reset
  .col-6.col-md-5.text-right
    .dropdown
      %button.btn.btn-outline-primary.btn-lg.btn-block.dropdown-toggle{type: 'button', "data-toggle".to_sym => 'dropdown', 'aria-haspopup'.to_sym => true, 'aria-expanded'.to_sym => false}  
        =fa_icon 'code-fork'
        %samp#selected-branch= @selected_branch
      .dropdown-menu
        - @branches.each do |branch|
          =link_to branch, test_case_commit_path(branch: branch.name, sha: params[:sha], test_case: params[:test_case], module: params[:module]), class: "text-monospace dropdown-item"  
  .col-6.col-md-5
    .dropdown
      %button.btn.btn-outline-primary.btn-lg.btn-block.dropdown-toggle#commit-selector{type: 'button', "data-toggle".to_sym => 'dropdown', 'aria-haspopup'.to_sym => true, 'aria-expanded'.to_sym => false}
        =fa_icon 'dot-circle-o'
        %span.h5.text-monospace=@commit
      .dropdown-menu.dropdown-menu-right.py-0.my-0{'aria-labelledby': 'commit-selector'}
        %ul.list-group.list-group-flush
          -@nearby_tccs.each do |tcc|
            - commit = tcc.commit
            %li.list-group-item.list-group-item-action.dropdown-item{class: @commit_classes[commit] + (commit == @commit ? 'active' : '')}
              .d-flex.w-100.justify-content-between
                
                %h5.font-weight-bold.d-none.d-md-inline
                  -@extra_symbols[tcc].each do |pair|
                    =fa_icon(pair[0], title: pair[1])
                  =commit.message_first_line(50)
                %a.stretched-link.text-reset{href: test_case_commit_path(branch: params[:branch], sha: commit.short_sha, test_case: params[:test_case], module: params[:module])}
                  %button.btn.ml-2{class: @btn_classes[commit]}
                    %span.h5.text-monospace=commit.short_sha
              .d-flex.w-100
                %p.mb-0
                  %span.font-weight-bold= commit.author
                  %span
                    commited on 
                    =format_time(commit.commit_time.strftime('%B %d %Y'))

  .col-1.d-none.d-md-block
    -if @next_tcc
      %a.btn.btn-outline-primary.btn-lg.btn-block{href: test_case_commit_path(sha: @next_tcc.commit.short_sha, branch: params[:branch], test_case: params[:test_case], module: params[:module])}
        %i.fa.fa-step-forward.text-reset

.row.my-5
  .col
    .card.border-dark.h-100
      .card-body
        %h3.card-title.my-0
          .dropdown
            %button.btn.btn-outline-primary.btn-lg.dropdown-toggle{type: 'button', "data-toggle".to_sym => 'dropdown', 'aria-haspopup'.to_sym => true, 'aria-expanded'.to_sym => false}
              %span.text-monospace#selected-test-case= @test_case.name
              %small.text-muted
                =surround '(', ')' do
                  %span.text-monospace=@test_case.module
            .dropdown-menu
              %form.px-2.my-0
                .form-group
                  %input.form-control-lg.w-100#tc-search{type: 'text', placeholder: 'Search Test Cases'}
              .dropdown-divider
              - @commit_tccs.each do |tcc|
                =link_to((tcc.test_case.name + "<small class='text-muted'>(#{tcc.test_case.module})</small>").html_safe, test_case_commit_path(branch: params[:branch], sha: params[:sha], test_case: tcc.test_case.name, module: params[:module]), class: "text-monospace dropdown-item tc-option text-primary")
            is 
            %span{class: "#{@commit_class} font-weight-bold"}=@commit_status.downcase
            in 
            %span.text-monospace= @commit
            -if [0, 2, 3].include? @test_case_commit.status
              with
              - case @checksum_count
              - when 0
                %span{class: 'text-info font-weight-bold'} no checksums.
              - when 1
                %span{class: 'text-success font-weight-bold'} one unique checksum.
              - else
                %span{class: 'text-primary font-weight-bold'} multiple unique checksums.
.row.mt-5.mb-0
  .col
    %h4 
      Commit data for
      %span.text-monospace.text-primary= @commit
.row.mt-0
  .col-lg-6.col-md-7
    %ul.list-group.list-group-flush.mb-1#commit-stats
      %li.list-group-item
        %b Author:
        =@commit.author
      %li.list-group-item
        %b Full SHA:
        %span.text-monospace=@commit.sha
      %li.list-group-item
        %b Commit Time:
        =format_time(@commit.commit_time)
  .col-lg-6.col-md-5
    #commit-message
      %h4.font-weight-bold= @commit.message_first_line(100)
      %p= @commit.message_rest(100)
.row.mb-0.mt-0
  - if @commit.github_url
    .col
      %a.btn.btn-outline-primary.btn-lg.btn-block{href: @commit.github_url, target: '_blank'}
        %span.text-reset View Commit on GitHub
  .col
    %a.btn.btn-outline-primary.btn-lg.btn-block{href: commit_path(branch: params[:branch], sha: params[:sha])}
      %span.text-reset View Commit on TestHub
  .col
    %a.btn.btn-outline-primary.btn-lg.btn-block{href: test_case_path(branch: params[:branch], test_case: params[:test_case], module: params[:module])}
      %span.text-reset View History on TestHub



.row.mt-5
  .col
    %h3
      -if @test_case_commit.test_instances.length < @instance_limit
        = "All instances for commit"
        %samp=@commit
      - else
        ="Last #{@instance_limit} instances for commit"
        %samp=@commit
- if not @test_case_commit.test_instances.empty?
  .form-check.mt-3
    .row
      .col-sm-6.mb-3
        %h5
          Default Columns
          %small.text-muted Check/uncheck to show/hide
        .row
          -@default_columns.each_slice(6) do |columns|
            .col
              -columns.each do |klass, checked|
                .mr-5
                %input.form-check-input.column-switch.mr-0{type: 'checkbox', value: klass, id: klass.sub('column-', 'check-'), checked: checked}
                %label.form-check-label{for: klass.sub('column-', 'check-')}= klass.sub('column-', '').titleize
      -unless @specific_columns.empty?
        .col-sm-6
          %h5
            Test Case-Specific Columns
            %small.text-muted Check/uncheck to show/hide
          -@specific_columns.each do |klass, checked|
            %div.mr-5
              %input.form-check-input.column-switch.mr-0{type: 'checkbox', value: klass, id: klass.sub('column-', 'check-'), checked: checked}
              %label.form-check-label{for: klass.sub('column-', 'check-')} 
                = klass.sub('column-', '').titleize
  .row
    .col
      - if @inlists.length > 2
        %ul.nav.nav-pills.flex-column.flex-sm-row#inlist-pills{role: 'tablist'}
          %li.nav-item
            %a.nav-link.active#pill-overview-tab{href: '#pill-overview', 'data-toggle' => 'pill', role: :tab, 'aria-controls' => 'pill-overview', 'aria-selected' => 'true'} Overview
          - @inlists.each do |inlist|
            %li.nav-item.flex-sm-fill.text-sm-center
              %a.nav-link.text-monospace{id: "#{inlist}-pill-tab", href:"\#pill-#{inlist}", 'data-toggle' => 'pill', role: 'tab', 'aria-controls' => "pill-#{inlist}", 'aria-selected' => 'false'}= inlist
      .div.tab-content#inlist-pillsContent
        .div.tab-pane.fade.show.active#pill-overview{role: 'tabpanel', 'aria-labelledby' => 'pill-overview-tab'}
          .table-responsive.mt-2
            %table.table.table-hover.table-sm.text-center
              %thead.thead-default
                %tr
                  %th.column-status Status
                  %th.column-computer Computer
                  %th.column-date.d-none Date Uploaded
                  %th.column-runtime Runtime
                  %th.column-ram.d-none RAM Usage
                  %th.column-checksum Checksum
                  %th.column-model_number Model Number
                  %th.column-threads.d-none Threads
                  %th.column-spec.d-none Computer Specification
                  %th.column-steps Steps
                  %th.column-retries Retries
                  %th.column-redos.d-none Redos
                  %th.column-solver_iterations.d-none Iterations
                  %th.column-solver_calls_made.d-none Calls Made
                  %th.column-solver_calls_failed.d-none Calls Failed
                  %th.column-log_rel_run_E_err.d-none Log Rel. E Err.
                  - @specific_columns.each do |specific_col, visible|
                    %th.text-monospace{class: "column-#{specific_col}" + (visible ? '' : ' d-none')}= specific_col

              %tbody
                -@test_case_commit.test_instances.reject(&:nil?).each do |instance|
                  %tr
                    %td.column-status{class: instance.passed ? 'text-success' : 'text-danger'}
                      =fa_icon('wrench', title: 'FPE Checks') if instance.fpe_checks
                      =fa_icon('plus-square', title: 'Run Optional') if instance.run_optional
                      =instance.passage_status
                      - unless instance.passed
                        %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{instance.computer.name}/#{@test_case.name}/out.txt", target:'_blank'}
                          %span.badge.badge-danger.text-monospace out
                        %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{instance.computer.name}/#{@test_case.name}/mk.txt", target:'_blank'}
                          %span.badge.badge-danger.text-monospace mk
                        %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{instance.computer.name}/#{@test_case.name}/err.txt", target:'_blank'}
                          %span.badge.badge-danger.text-monospace err
                    %td.column-computer=link_to(instance.computer, user_computer_path(instance.computer.user, instance.computer))
                    %td.column-date.d-none=format_time(instance.created_at)
                    %td.column-runtime
                      -if instance.runtime_minutes
                        =format('%.2f', instance.runtime_minutes) + ' m'
                    %td.column-ram.d-none=format("%.2f", instance.rn_mem_GB || 0) + ' GB'
                    %td.column-checksum
                      %samp=instance.checksum[(-7..-1)] if instance.checksum
                    %td.column-model_number
                      =instance.model_number if instance && instance.model_number
                    %td.column-threads.d-none=instance.omp_num_threads if instance && instance.omp_num_threads
                    %td.column-spec.d-none=instance.computer_specification if instance && instance.computer_specification
                    %td.column-steps=instance.steps if instance && instance.steps
                    %td.column-retries=instance.retries if instance && instance.retries
                    %td.column-redos.d-none= instance.redos if instance && instance.redos
                    %td.column-solver_iterations.d-none= instance.solver_iterations if instance && instance.solver_iterations
                    %td.column-solver_calls_made.d-none= instance.solver_calls_made if instance && instance.solver_calls_made
                    %td.column-solver_calls_failed.d-none= instance.solver_calls_failed if instance && instance.solver_calls_failed
                    %td.column-log_rel_run_E_err.d-none
                      -if instance.log_rel_run_E_err
                        =format('%.2f',instance.log_rel_run_E_err || 0)
                      -else
                        =''

                    - @specific_columns.each do |specific_col, visible|
                      %td{class: "column-#{specific_col}" + (visible ? '' : ' d-none')}
                        -if instance.get_data(specific_col)
                          =format('%0.3g', instance.get_data(specific_col) || -1)
                        -else
                          =''
        - if @inlists.length > 2
          - @inlists.each do |inlist_name|
            .div.tab-pane.fade{role: 'tabpanel', 'aria-labelledby' => "#{inlist_name}-pill-tab", id: "pill-#{inlist_name}"}
              .table-responsive.mt-2
                %table.table.table-hover.table-sm.text-center
                  %thead.thead-default
                    %tr
                      %th.column-status Status
                      %th.column-computer Computer
                      %th.column-date.d-none Date Uploaded
                      %th.column-runtime Runtime
                      %th.column-threads.d-none Threads
                      %th.column-spec.d-none Computer Specification
                      %th.column-model_number Model Number
                      %th.column-steps Steps
                      %th.column-retries Retries
                      %th.column-redos.d-none Redos
                      %th.column-solver_iterations.d-none Iterations
                      %th.column-solver_calls_made.d-none Calls Made
                      %th.column-solver_calls_failed.d-none Calls Failed
                      %th.column-log_rel_run_E_err.d-none Log Rel. E Err.
                      - @specific_columns.each do |specific_col, visible|
                        %th.text-monospace{class: "column-#{specific_col}" + (visible ? '' : ' d-none')}= specific_col

                  %tbody
                    -@inlist_data[inlist_name].each do |data_hash|
                      %tr
                        %td.column-status{class: data_hash[:passed] ? 'text-success' : 'text-danger'}
                          =fa_icon('wrench', title: 'FPE Checks') if data_hash[:fpe_checks]
                          =fa_icon('plus-square', title: 'Run Optional') if data_hash[:run_optional]
                          - if data_hash[:passed]
                            Passed
                          - else
                            Failed
                            %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{data_hash[:computer].name}/#{@test_case.name}/out.txt", target:'_blank'}
                              %span.badge.badge-danger.text-monospace out
                            %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{data_hash[:computer].name}/#{@test_case.name}/mk.txt", target:'_blank'}
                              %span.badge.badge-danger.text-monospace mk
                            %a.text-reset.d-none.test-log-link{href: "https://logs.mesastar.org/#{@commit.sha}/#{data_hash[:computer].name}/#{@test_case.name}/err.txt", target:'_blank'}

                        %td.column-computer=link_to(data_hash[:computer], user_computer_path(data_hash[:computer].user, data_hash[:computer]))
                        %td.column-date.d-none=format_time(data_hash['created_at'])
                        %td.column-runtime
                          -if data_hash['runtime_minutes']
                            =format('%.2f', data_hash['runtime_minutes']) + ' m'
                        %td.column-threads.d-none=data_hash['threads']
                        %td.column-spec.d-none=data_hash['spec']
                        %td.column-model_number=data_hash['model_number']
                        %td.column-steps=data_hash['steps']
                        %td.column-retries=data_hash['retries']
                        %td.column-redos.d-none= data_hash['redos']
                        %td.column-solver_iterations.d-none= data_hash['solver_iterations']
                        %td.column-solver_calls_made.d-none= data_hash['solver_calls_made']
                        %td.column-solver_calls_failed.d-none= data_hash['solver_calls_failed']
                        %td.column-log_rel_run_E_err.d-none
                          - if data_hash['log_rel_run_E_err']
                            =format('%.2f',data_hash['log_rel_run_E_err'])
                          - else
                            =""

                        - @specific_columns.each do |specific_col, visible|
                          %td{class: "column-#{specific_col}" + (visible ? '' : ' d-none')} = data_hash[specific_col]

- else
  .alert.alert-warning
    %h4 No tests have been run yet.
