.row.text-center
  .col
    %h1= @header_text
    %h3{class: @compilation_class}= @compilation_text
    %h3{class: @status_class}= @status_text
.row
  .col-lg-4.col-md-5.col-xs-12
    %h4 Computers Tested:
    %ul
      - @specs.each do |spec, comps|
        %li= "#{spec}: #{comps.join(', ')}"
  .col-lg-4.col-md-7.col-xs-12
    %h4 Change MESA Version
    %form{action: '/show_version', class: 'form-inline'}
      -# .col-auto.col-form-label.align-middle
      -#   =label_tag "number", 'MESA version: ', class: 'control-label form-control-lg'
      .col-auto.align-middle
        =select_tag "number", options_for_select(@mesa_versions, @selected), class: 'custom-select form-control form-control-lg', id: 'version_select'
      %noscript
        .col-auto.align-middle
          =submit_tag 'Go', class: 'btn btn-primary text-light form-control', name: nil, id: 'version_select_go'
  -if @version.author
    .col-lg-4.col-xs-12
      %h4 SVN Commit Data
      %ul 
        %li
          %b Author:
          =@version.author
        %li
          %b Commit Message:
          =@version.log



- unless @version_status == :untested
  .row#index-desc
    .col
      .card-deck
        - if @other_count.positive?
          .card.border-info
            .card-body.text-info                    
              %h3.card-title Other
              %p.card-text
                %b=@other_count
                tests with anomalous submission data.
        - if @mix_count.positive?
          .card.border-warning
            .card-body.text-warning
              %h3.card-title Mixed
              %p.card-text
                %b=@mix_count
                tests where some computers report passing and others report failing.
        - if @checksum_count.positive?
          .card.border-primary
            .card-body.text-primary
              %h3.card-title Checksums
              %p.card-text
                %b=@checksum_count
                tests where different computers give different checksums.
        - if @fail_count.positive?
          .card.border-danger
            .card-body.text-danger
              %h3.card-title Failing
              %p.card-text
                %b=@fail_count
                tests where all computers report failing.
        - if @pass_count.positive?
          .card.border-success
            .card-body.text-success
              %h4.card-title Passing
              %p.card-text
                %b=@pass_count
                tests where all computers report passing.

  .row
    .col
      .table-responsive
        %table.table.table-hover#test_summary
          %thead.thead-default
            %tr
              %th Name
              %th Computers Tested
              %th Last Tested Date
              -# %th Diff?

          %tbody
            - @test_case_versions.each do |tcv|
              %tr{class: @row_classes[tcv] + ' clickable-row', "data-href":test_case_version_path(number: @selected, test_case: tcv.test_case.name), id: tcv.test_case.name + '-row'}
                %td
                  %samp= tcv.test_case.name
                - if @selected == 'all'
                  %td= @last_versions[tcv]
                - else
                  %td= tcv.computer_count
                  %td= format_time(@last_tested[tcv]) #.localtime.strftime("%F %H:%M %Z")
                -# %td
                -#   - case @diffs[test_case]
                -#   - when 0
                -#     &#x2717
                -#   - when 1
                -#     &#x2713
                -#   - else
                -#     &#x3f
  -# .row
  -#   .col.text-center
  -#     - if admin?
  -#       =link_to "Create Test Case", new_test_case_path, class: 'btn btn-lg btn-primary text-light'
