%p#notice= notice
.row
  .col
    %h2
      History for
      %span.text-primary.text-monospace= @test_case.name
      %small.text-muted
        =surround '(', ')' do
          %span.text-monospace= @test_case.module
.row
  .col
    = form_with url: url_for, method: :get  do
      .form-check
        =radio_button_tag(:history_type, 'show_instances', @show_instances, class: "form-check-input", type: 'radio', value: 'show_instances', checked: @show_instances ? 'checked' : '' )
        =label_tag(:show_instances_label, "Show individual submission")
      .form-check
        =radio_button_tag(:history_type, 'show_summaries', @show_summaries, class: "form-check-input", type: 'radio', value: 'show_summaries')
        =label_tag(:show_summaries_label, "Show commit summaries")
      =submit_tag("Searth", class: 'btn btn-primary')
.row
  .col
    -if @show_instances
      .table-responsive.mt-2
        %table.table.table-hover.table-sm.text-center#test-detail
          %thead.thead-default
            %tr
              %th.column-status Status
              %th.column-computer Computer
              %th.column-date.d-none Date Uploaded
              %th.column-runtime Runtime
              %th.column-ram.d-none RAM Usage
              %th.column-checksum Checksum
              %th.column-threads.d-none Threads
              %th.column-spec.d-none Computer Specification
              %th.column-steps Steps
              %th.column-retries Retries
              %th.column-redos.d-none Redos
              %th.column-solver_iterations.d-none Iterations
              %th.column-solver_calls_made.d-none Calls Made
              %th.column-solver_calls_failed.d-none Calls Failed
              %th.column-log_rel_run_E_err.d-none Log Rel. E Err.
              - @specific_columns.each do |specific_col, visible|
                %th.text-monospace{class: "column-#{specific_col}" + (visible ? '' : ' d-none')}= specific_col

          %tbody
            -@test_instances.each do |instance|
              -# %tr{class: @test_instance_classes[instance] + " clickable-row", "data-href": test_case_test_instance_path(@test_case, instance)}
              %tr
                %td.column-status{class: instance.passed ? 'text-success' : 'text-danger'}=instance.passage_status
                %td.column-computer=link_to(instance.computer, user_computer_path(instance.computer.user, instance.computer))
                %td.column-date.d-none=format_time(instance.created_at)
                %td.column-runtime=instance.runtime_minutes.to_s + ' m'
                %td.column-ram.d-none=format("%.2f", instance.rn_mem_GB) + ' GB'
                %td.column-checksum=instance.checksum[(-7..-1)] if instance.checksum
                %td.column-threads.d-none=instance.omp_num_threads
                %td.column-spec.d-none=instance.computer_specification
                %td.column-steps=instance.steps
                %td.column-retries=instance.retries
                %td.column-redos.d-none= instance.redos
                %td.column-solver_iterations.d-none= instance.solver_iterations
                %td.column-solver_calls_made.d-none= instance.solver_calls_made
                %td.column-solver_calls_failed.d-none= instance.solver_calls_failed
                %td.column-log_rel_run_E_err.d-none= instance.log_rel_run_E_err

                - @specific_columns.each do |specific_col, visible|
                  %td{class: "column-#{specific_col}" + (visible ? '' : ' d-none')}= format('%0.3g', instance.get_data(specific_col))
    - else
      .table-responsive.mt-2
        %table.table.table-hover.table-sm.text-center#test-detail
          %thead.thead-default
            %tr
              %th.column-commit Commit
              %th.column-status 
                =link_to('Status', url_for(sort_query: @status_params[:sort_query], sort_order: @status_params[:sort_order]))
              %th.column-date
                =link_to('Date Created', url_for(sort_query: @date_params[:sort_query], sort_order: @date_params[:sort_order]))
          %tbody
            -@test_case_commits.each do |tcc|
              %tr
                %td.column-commit.text-primary.text-monospace
                  =link_to(tcc.commit, test_case_commit_path(branch: params[:branch], sha: tcc.commit.short_sha, test_case: params[:test_case], module: params[:module]))
                %td.column-status
                  -case tcc.status
                  -when 3
                    %span.text-warning Mixed
                  -when 2
                    %span.text-primary Mult. Checksums
                  -when 1
                    %span.text-danger Failing
                  -when 0
                    %span.text-success Passing
                  -else
                    %span.text-info Untested
                %td.column-date= format_time(tcc.created_at)
