%p#notice= notice

.row
  .col-lg-6.col-xs12
    %h3
      %samp=@test_case.name + ':'
      %span{class: @version_class}=@version_status
    %form{action: '/version/test_case', method: 'get'}
      .form-group.row
        =label_tag "number", 'MESA version: ', class: 'col-form-label col-xs-4 control-label form-control-lg'
        .col-xs-8
          =select_tag "number", options_for_select(@mesa_versions, @selected), class: 'custom-select form-control form-control-lg', id: 'version_select'
      .form-group.row
        =label_tag "test_case", 'Test Case: ', class: 'control-label form-control-lg col-xs-4 col-form-label'
        .col-xs-8
          =select_tag "test_case", options_for_select(@tc_options, @test_case.name), class: 'custom-select form-control form-control-lg', id: 'test_case_select'  
      %noscript
        .form-group.row
          .col-auto.align-middle
            =submit_tag 'Go', class: 'btn btn-primary text-light form-control', name: nil, id: 'version_select_go'

    %table.table
      %tr
        %th{scope: 'row'} Module
        %td
          %samp=@test_case.module
      -# %tr
      -#   %th{scope: 'row'} Description
      -#   %td=@test_case.description
      %tr
        %th{scope: 'row'}
          %samp MESA
          Version
        %td=link_to(@version_number, version_path(@version_number))
      %tr
        %th{scope: 'row'} Checksum Status
        %td
          - case @unique_checksum_count
          - when 0
            %span{class: 'text-info'} No checksums available
          - when 1
            %span{class: 'text-success'} One unique checksum
          - else
            %span{class: 'text-primary'} Multiple unique checksums
    .text-center
      .btn-group{style: 'margin-bottom: 20px'}
        - if admin?
          = link_to 'Edit', edit_test_case_path(@test_case), class: 'btn btn-primary btn-md text-light'
        = link_to 'View All Cases', version_path(@version_number), class: 'btn btn-secondary btn-md text-light'
        - if admin?
          = link_to 'Delete', @test_case, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md text-light'
  .col-lg-6.col-xs-12
    %h3
      -if @test_case_version.test_instances.length < @instance_limit
        = "All instances for version #{@version_number}"
      - else
        ="Last #{@instance_limit} instances for version #{@version_number}"
    - if not @test_case_version.test_instances.empty?
      .table-responsive
        %table.table.table-hover.table-sm#test-detail
          %thead.thead-default
            %tr
              %th Date Uploaded
              %th Computer
              %th Runtime
              -# %th Diff?
              %th Checksum
          %tbody
            - @test_case_version.test_instances.each do |instance|
              %tr{class: @test_instance_classes[instance] + " clickable-row", "data-href": test_case_test_instance_path(@test_case, instance)}
                %td=format_time(instance.created_at)
                %td=instance.computer.name
                %td=instance.runtime_seconds.to_s + ' s'
                -# %td
                -#   - case instance.diff
                -#   - when 0
                -#     &#x2717
                -#   - when 1
                -#     &#x2713
                -#   - else
                -#     &#x3f
                %td=@encoder[instance.checksum]


    - else
      .alert.alert-warning
        %h4 No tests have been run yet.
    .text-center
      .btn-group
        - if admin?
          = link_to 'Add Instance', new_test_case_test_instance_path(@test_case), class: 'btn btn-primary btn-md text-light'
        = link_to 'View All Instances', test_case_test_instances_path(@test_case), class: 'btn btn-secondary btn-md text-light'
